<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head th:replace="common/header::header">

</head>
<body>
<div th th:replace="common/header::navbar">
</div>
  <div class="container">
    <div class="card">
      <div class="card card-body">
        <table id = "leagueListTable" class="table-hover">
          <thead>
          <tr>
            <th>Name</th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <tr></tr>
          <tr></tr>
          <br/>
          <br/>
          <br/>

          <tr th:each="league : ${leagueList}">
            <!--<td ><a th:href="@{'/leagueTable/'(leagueName=${league.name})}" th:text="${league.name}"></a></td>-->
            <td><a th:href="@{/table?name=} + ${league.name}"   th:text="${league.name} "></a></td>
            <td></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>

  </div>



<div th:replace="common/header :: footer" > </div>

<div th:replace="common/header :: body-bottom-scripts" > </div>
</body>
</html>